<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IP監測工具.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IP監測工具.My.MySettings.IP_DataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\IP_Data.mdb;OLE DB Services=-1"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IP監測工具.My.MySettings>
            <setting name="TimeInterval" serializeAs="String">
                <value />
            </setting>
        </IP監測工具.My.MySettings>
    </userSettings>
</configuration>